dj-database-url==0.5.0
Django==3.0.7
djangorestframework==3.11.0
gunicorn==20.0.4
psycopg2-binary
# psycopg2==2.8.5
python-decouple==3.3
pytz==2020.1
whitenoise==5.1.0
django-heroku==0.3.1
django-rest-framework-social-oauth2==1.1.0
pymongo==3.11.0
pymongo[srv]
dnspython==1.16.0
pandas==1.1.0
numpy==1.19.0
# IBM
boto3==1.14.47
botocore==1.17.47
ibm-cos-sdk==2.7.0
ibm-cos-sdk-core==2.7.0
ibm-cos-sdk-s3transfer==2.7.0
s3transfer==0.3.3