{% extends 'registration/base.html' %}

{% block cabecera %}
{% endblock cabecera %}


{% block contenido %}
<!-- /.login-logo -->
<div class="card">
	<div class="card-body login-card-body">
		<p class="login-box-msg">Por favor inicie sesión</p>

		<form method="post">
			{% csrf_token %}
			<div class="input-group mb-3">
				<input name="username" type="username" class="form-control" placeholder="Usuario">
				<div class="input-group-append">
					<div class="input-group-text">
						<span class="fas fa-envelope"></span>
					</div>
				</div>
			</div>
			<div class="input-group mb-3">
				<input name="password" type="password" class="form-control" placeholder="Contraseña">
				<div class="input-group-append">
					<div class="input-group-text">
						<span class="fas fa-lock"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- <div class="col-8">
						<div class="icheck-primary">
							<input type="checkbox" id="remember">
							<label for="remember">
								Remember Me
							</label>
						</div>
					</div> -->
				<!-- /.col -->
				<!-- <div class="col-4">
						<br>
					</div> -->
				<div class="col-4 mx-auto">
					<button type="submit" style="background-color:#691e99;color:white;border-color: white;"
						class="btn btn-primary btn-block">Entrar</button>
				</div>
				<!-- /.col -->
			</div>
		</form>
		<!-- /.login-card-body -->
	</div>
</div>
<!-- /.login-box -->
<div class="col-4 mx-auto">
	<button type="submit" onclick="abrirRegistrar()" style="background-color:white;color:#691e99;border-color: #691e99;"
		class="btn btn-primary btn-block">Registrarme</button>
</div>



{% endblock contenido %}

{% block scripts %}
<script type="text/javascript">
	function abrirRegistrar() {
		window.location.href = '../register/';
	}
</script>
{% endblock scripts %}