{% extends 'dashboard/base.html' %}
{% load static %}


{% block cabecera %}
{% endblock cabecera %}

{% block contenido %}
<!-- services -->
<section class="banner-bottom-w3layouts bg-li py-5" id="services">
	<div class="container py-xl-5 py-lg-3">
		<h4 class="tittle text-center font-weight-bold">Último video subido</h4>
		<hr>
		{% for filename_temp in list_filename_temp %}
		<div class="embed-responsive embed-responsive-16by9">
			<!-- <video controls> -->
			<!-- <source src=”http://techslides.com/demos/sample-videos/small.ogv” type=video/ogg> -->
			<!-- <source src="{% static filename_temp %}" type=video/mp4> -->
			<iframe class="embed-responsive-item" src="{% static filename_temp %}"></iframe>
		</div>
		{% endfor %}
		<hr>
		<br>
		<form>
			<div class="form-group">
				<label for="exampleFormControlSelect1">N° 1</label>
				<select class="form-control" id="exampleFormControlSelect1">
					<option>Opción 1</option>
					<option>Opción 2</option>
					<option>Opción 3</option>
				</select>
			</div>

		</form>
		<button type="button" class="btn btn-secondary">Enviar</button>
	</div>
</section>
<!-- //services -->
{% endblock contenido %}

{% block pie %}
{% endblock pie %}