{% extends 'dashboard/base.html' %}
{% load static %}


{% block cabecera %}
{% endblock cabecera %}

{% block contenido %}
<!-- services -->
<section class="banner-bottom-w3layouts bg-li py-5" id="services">
	<div class="container py-xl-5 py-lg-3">
		<h3 class="tittle text-center font-weight-bold">Elige los procesos</h3>
		<form>
			<div class="form-group">
				<label for="exampleFormControlSelect1">N° 1</label>
				<select class="form-control" id="exampleFormControlSelect1">
					<option>Opción 1</option>
					<option>Opción 2</option>
					<option>Opción 3</option>
					<option>Opción 4</option>
					<option>Opción 5</option>
				</select>
			</div>
			<div class="form-group">
				<label for="exampleFormControlSelect1">N° 2</label>
				<select class="form-control" id="exampleFormControlSelect1">
					<option>Opción 1</option>
					<option>Opción 2</option>
					<option>Opción 3</option>
					<option>Opción 4</option>
					<option>Opción 5</option>
				</select>
			</div>
			<div class="form-group">
				<label for="exampleFormControlSelect1">N° 3</label>
				<select class="form-control" id="exampleFormControlSelect1">
					<option>Opción 1</option>
					<option>Opción 2</option>
					<option>Opción 3</option>
					<option>Opción 4</option>
					<option>Opción 5</option>
				</select>
			</div>

		</form>
		<button type="button" class="btn btn-secondary">Enviar</button>
	</div>
</section>
<!-- //services -->
{% endblock contenido %}

{% block pie %}
{% endblock pie %}