{% extends 'dashboard/base.html' %}
{% load static %}


{% block cabecera %}
{% endblock cabecera %}

{% block contenido %}
<!-- services -->
<section class="banner-bottom-w3layouts bg-li py-5" id="services">
	<div class="container py-xl-5 py-lg-3">
		<h4 class="tittle text-center font-weight-bold">Utils</h4>
		<hr>
		<!-- <h5>Path</h5>
		<p>			
            {{ mypath }}
		</p>  -->
		<h5>List of files in the path</h5>

		{{ listoffiles }}<br>

		<hr>
		<h5>List of files in path 2</h5>

		{{ listoffiles2 }}<br>



	</div>
</section>
<!-- //services -->
{% endblock contenido %}

{% block pie %}
{% endblock pie %}